@model string
@{
    ViewData["Title"] = "Change User Order Status";
    Layout = null;
    List<string> Statuses = new List<string> { "Select Status", "Order Placed", "Order Packaging", "Order Dispatched", "Delivered", "Cancelled" };
    List<string> Statuses2 = new List<string>();
    var orderid = @Model.Split(':')[1];
    var orderstatus = @Model.Split(':')[0];
    var flag = false;
    foreach(var item in Statuses)
    {
        if(item.ToLower().Equals(orderstatus.ToLower()))
        {
            flag = true;
            continue;
        }
        if (flag) Statuses2.Add(item);
    }
    Statuses2.Insert(0, "Select Status");
}

    <div class="modal fade" tabindex="-1" role="dialog" id="edituserorder">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edituserorderlbl">Edit Product</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true" style="border:none; outline:none">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="EditUserOrderStatus" method="post" data="@Model" autocomplete="off">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <div class="row row-cols row-cols-lg g-3 g-lg-3">
                                <div class="col-md-12">
                                    <label>Change Status</label>
                                    <input type="hidden" asp-for="@orderid"/>
                                    <select asp-for=@orderstatus id="orderstatus" onchange="OrderStatusAlert()" class="form-select"
                                        asp-items="@(new SelectList(@Statuses2))">
                                    </select>
                                </div>
                            </div>
                            <div class="mt-2">
                                <label class="alert-danger" hidden id="cancelRefundAlert">Cancelling this order will automatically initiate a full refund.</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-save="modal">Change</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
