@using AceSmokeShop.ViewModel
@model AdminUserOrderViewModel

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<string> months = new List<string>{ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec" };
}

<div id="placeholder"></div>
<div class="container-fluid">
    <form asp-action="Orders" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
             <div class="row row-cols row-cols-lg g-3 g-lg-3">
                <div class="col">
                    <select asp-for=@Model.OrderStatus id="orderstatus" class="form-select myorderstext"
                            asp-items="@(new SelectList(@Model.OrderStatusList))">
                    </select>
                </div>
                <div class="col">
                    <select asp-for=@Model.SearchByUser id="searchuser" class="form-select myorderstext"
                            asp-items="@(new SelectList(@Model.SearchByUserList))">
                    </select>
                </div>
                 <div class="col">
                    <select asp-for=@Model.PaymentStatus id="paymentstatus" class="form-select myorderstext"
                            asp-items="@(new SelectList(@Model.PaymentStatusList))">
                    </select>
                </div>
                <div class="col">
                    <input type="text" value=@Model.search asp-for=@Model.search id="search" class="form-control form-input myorderstext" placeholder="Search" />
                </div>
                <div class="col">
                    <input asp-for="@Model.DateFrom" id="datefrom" class="form-control myorderstext" />
                </div>
                <div class="col">
                    <input asp-for="@Model.DateTo" id="dateto" class="form-control myorderstext" />
                </div>
            </div>
            <div class="row row-cols row-cols-lg g-1 g-lg-3 mt-0">
                <div class="col">
                    <button type="submit" class="btn btn-primary" id="fliterUserOrderbtnsearch">Search</button>
                </div>
            </div>
        </div>
    </form>

    <div class="mt-3">
        <div class="row row-cols row-cols-lg g-3 g-lg-3">
            <div class="col myorder-cards">
                <div class="card l-bg-cherry">
                    <div class="card-statistic-3 p-2">
                        <div class="mb-3">
                            <h6 class="card-title mb-0">Total Orders</h6>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h5 class="d-flex align-items-center mb-0">
                                    @Model.TotalOrders
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col myorder-cards">
                <div class="card l-bg-blue-dark">
                    <div class="card-statistic-3 p-2">
                        <div class="mb-3">
                            <h6 class="card-title mb-0">User Orders</h6>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h5 class="d-flex align-items-center mb-0">
                                    @Model.UserOrder
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col myorder-cards">
                <div class="card l-bg-green-dark">
                    <div class="card-statistic-3 p-2">
                        <div class="mb-3">
                            <h6 class="card-title mb-0">Vendor Orders</h6>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h5 class="d-flex align-items-center mb-0">
                                    @Model.VendorOrder
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col myorder-cards">
                <div class="card l-bg-orange-dark">
                    <div class="card-statistic-3 p-2">
                        <div class="mb-3">
                            <h6 class="card-title mb-0">Cancelled Orders</h6>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h5 class="d-flex align-items-center mb-0">
                                    @Model.CancelledOrders
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col myorder-cards">
                <div class="card l-bg-orange-dark">
                    <div class="card-statistic-3 p-2">
                        <div class="mb-3">
                            <h6 class="card-title mb-0">New Orders</h6>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h5 class="d-flex align-items-center mb-0">
                                    @Model.NewOrders
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-1">
        <div class="row row-cols row-cols-lg g-3 g-lg-3">
            <div class="col myorder-cards">
                <div class="card l-bg-acesmokeshop">
                    <div class="card-statistic-3 p-2">
                        <div class="mb-3">
                            <h6 class="card-title mb-0">UnPaid Orders</h6>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h5 class="d-flex align-items-center mb-0">
                                    @Model.UnPaidOrders
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col myorder-cards">
                <div class="card l-bg-acesmokeshop">
                    <div class="card-statistic-3 p-2">
                        <div class="mb-3">
                            <h6 class="card-title mb-0">UnPaid Amount</h6>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h5 class="d-flex align-items-center mb-0">
                                    $@Model.UnPaidAmount
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-1">
        <div class="Paginationblock">
            <div class="row">
                <div class="col-md" style="padding: 5px 25px;">
                    <div class="form-group">
                        <label style="color: #000;">Rows</label>
                        <select asp-for=@Model.ItemsPerPage id="rowselectId" class="RowSelect"
                            asp-items="@(new SelectList(@Model.RowPerPage))">
                        </select>
                    </div>
                </div>
                <div class="col-md" style="padding: 7px 15px;">
                    <div style="text-align: center;">
                        <label style="color: #000;">Showing @Model.CurrentPage / @Model.TotalPages (@Model.FilteredOrders)</label>
                    </div>
                </div>
                <div class="col-md" style="justify-content:end; padding: 5px 25px;">
                    <input type="hidden" id="cuttentpageid" value="@Model.CurrentPage" />
                    <input type="hidden" id="totalpageid" value="@Model.TotalPages" />
                    <div style="text-align: end;">
                        <button type="button" id="prebtnClick" hidden=@(Model.CurrentPage == 1? true : false) class="Paginationbtn">Previous</button>
                        <button type="button" id="nextbtnClick" hidden=@(Model.CurrentPage >= Model.TotalPages? true : false) class="Paginationbtn">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="visible-scrollbar">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-3">
                        @if(Model.SortByID == 1)
                        {
                            <input type="hidden" id="sortbyQtyOrder" value="@Model.SortByOrder" />
                            <a class="h6 text-uppercase font-weight-bold" id="QtyPriceClick" style="color: #145DA0;  cursor: pointer; font-size: 14px">
                                <b>Date</b> 
                            </a>
                            if (@Model.SortByOrder == 1)
                            {
                                <i class="bi bi-arrow-up" style="color: #145DA0;  cursor: pointer;"></i>
                            }
                            else
                            {
                                <i class="bi bi-arrow-down" style="color: #145DA0;  cursor: pointer;"></i>
                            }
                        }
                        else
                        {
                            <input type="hidden" id="sortbyQtyOrder" value="@Model.SortByOrder" />
                            <a id="QtyPriceClick" class="h6 text-uppercase font-weight-bold" style="color: #145DA0; cursor: pointer; font-size: 14px">
                                <b>Date</b> <i class="bi bi-arrow-down-up"></i>
                            </a>
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div>
                            <div class="row row-cols-3 row-cols-lg-3 gy-5 g-lg-4" style="margin:0rem;">
                                <div class="accordion">
                                    @foreach (var item in Model.userOrdersList)
                                    {
                                        @if (@item.IsVendor == true)
                                        {
                                            <div class="accordion-item" style="background-color:#AFE1AF">
                                                <div class="accordion-item-header" id="@item.CustOrderId">
                                                    <div class="row" style="padding:1rem 1rem; width: 100%;">
                                                        <div class="col-2">
                                                            <a style="font-size: 13px;font-weight: 500;"><b>Order #@item.CustOrderId</b></a>
                                                        </div>
                                                        <div class="col-2">
                                                            <a style="font-size: 13px;font-weight: 500;"><b>Ordered @item.CreateDate.Day-@months[@item.CreateDate.Month -1]-@item.CreateDate.Year</b></a>
                                                        </div>
                                                        <div class="col-2">
                                                            @*<a  style="font-size: 13px;font-weight: 500;"><b>@item.OrderStatus.ToUpper()</b></a>*@
                                                            @if (item.OrderStatus.ToLower().Contains("cancelled") || item.OrderStatus.ToLower().Contains("delivered"))
                                                            {
                                                                <a style="font-size: 13px;font-weight: 500;"><b>@item.OrderStatus.ToUpper()</b></a>
                                                            }
                                                            else
                                                            {
                                                                <button type="button" class="d-inline" data-toggle="ajax-modal" data-target="#edituserorderstatus"
                                                                    data-url="@Url.Action("EditUserOrderStatusGet", "Admin", new{orderid = @item.CustOrderId})" style="font-size: 13px; font-weight: 500; color:#cdb36c; border:none; outline:none; background:none;">
                                                                    <b>@item.OrderStatus.ToUpper()</b>
                                                                </button>
                                                            }
                                                        </div>
                                                        <div class="col-4">
                                                            <a href="~/UserAccount/UserAccount?search=@item.User.Fullname" target="_blank" style="color:#cdb36c; font-size: 13px;font-weight: 500;"><b>@item.User.Fullname</b></a>
                                                        </div>
                                                        @if(item.IsPaid && item.OrderStatus.ToLower().Contains("cancel"))
                                                        {
                                                            <div class="col-2">
                                                                <a style="color:green; font-size: 13px;font-weight: 500;"><b>REFUNDED</b></a>
                                                            </div>
                                                        }
                                                        else if (item.IsPaid && !item.OrderStatus.ToLower().Contains("cancel"))
                                                        {
                                                            <div class="col-2">
                                                                <a style="color:green; font-size: 13px;font-weight: 500;"><b>PAID</b></a>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="col-2">
                                                                <a style="color:red; font-size: 13px;font-weight: 500;"><b>PAY LATER</b></a>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="accordion-item-body">
                                                    <div class="accordion-item-body-content">
                                                        <div class="container" style="margin:1rem">
                                                            @if(@item.IsPaid == false && !@item.OrderStatus.ToLower().Contains("cancel"))
                                                            {
                                                                <div class="row">
                                                                    <div class=col-9></div>
                                                                    <div class=col->
                                                                        <button type="button" class="btn btn-block" data-toggle="ajax-modal" data-target="#markaspaid"
                                                                            data-url="@Url.Action("MarkAsPaidGet", "Admin", new{CustOrderId = @item.CustOrderId})">Paid at Store</button>
                                                                    </div>
                                                                </div>
                                                            }
                                                            @* Insert Img here *@
                                                            @if(item.ShippingAddress != null)
                                                            {
                                                                @if(item.OrderStatus.ToLower().Equals("order placed")){
                                                                    <div class="row" style="width:100%;">
                                                                        <img src="~/Images/Status1.png" class="d-block w-100" alt="Img">
                                                                    </div>
                                                                }
                                                                @if(item.OrderStatus.ToLower().Equals("order packaging")){
                                                                    <div class="row" style="width:100%;">
                                                                        <img src="~/Images/Status2.png" class="d-block w-100" alt="Img">
                                                                    </div>
                                                                }
                                                                @if(item.OrderStatus.ToLower().Equals("order dispatched")){
                                                                    <div class="row" style="width:100%;">
                                                                        <img src="~/Images/Status3.png" class="d-block w-100" alt="Img">
                                                                    </div>
                                                                }
                                                                @if(item.OrderStatus.ToLower().Equals("delivered")){
                                                                    <div class="row" style="width:100%;">
                                                                        <img src="~/Images/Status4.png" class="d-block w-100" alt="Img">
                                                                    </div>
                                                                }
                                                            }
                                                            @* PartialView _AdminUserOrderViewModel *@
                                                            <div id="userorders-@item.CustOrderId">
                                        
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="accordion-item">
                                                <div class="accordion-item-header" id="@item.CustOrderId">
                                                    <div class="row" style="padding:1rem 1rem; width: 100%;">
                                                        <div class="col-2">
                                                            <a style="font-size: 13px;font-weight: 500;"><b>Order #@item.CustOrderId</b></a>
                                                        </div>
                                                        <div class="col-2">
                                                            <a style="font-size: 13px;font-weight: 500;"><b>Ordered @item.CreateDate.Day-@months[@item.CreateDate.Month -1]-@item.CreateDate.Year</b></a>
                                                        </div>
                                                        <div class="col-2">
                                                            @*<a  style="font-size: 13px;font-weight: 500;"><b>@item.OrderStatus.ToUpper()</b></a>*@
                                                            @if (item.OrderStatus.ToLower().Contains("cancelled") || item.OrderStatus.ToLower().Contains("delivered"))
                                                            {
                                                                <a style="font-size: 13px;font-weight: 500;"><b>@item.OrderStatus.ToUpper()</b></a>
                                                            }
                                                            else
                                                            {
                                                                <button type="button" class="d-inline" data-toggle="ajax-modal" data-target="#edituserorderstatus"
                                                                    data-url="@Url.Action("EditUserOrderStatusGet", "Admin", new{orderid = @item.CustOrderId})" style="font-size: 13px; font-weight: 500; color:#cdb36c; border:none; outline:none; background:none;">
                                                                    <b>@item.OrderStatus.ToUpper()</b>
                                                                </button>
                                                            }
                                                        </div>
                                                        <div class="col-4">
                                                            <a href="~/UserAccount/UserAccount?search=@item.User.Fullname" target="_blank" style="color:#cdb36c; font-size: 13px;font-weight: 500;"><b>@item.User.Fullname</b></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item-body">
                                                    <div class="accordion-item-body-content">
                                                        <div class="container" style="margin:1rem">
                                                            @* Insert Img here *@
                                                            @if(item.OrderStatus.ToLower().Equals("order placed")){
                                                                <div class="row" style="width:100%;">
                                                                    <img src="~/Images/Status1.png" class="d-block w-100" alt="Img">
                                                                </div>
                                                            }
                                                            @if(item.OrderStatus.ToLower().Equals("order packaging")){
                                                                <div class="row" style="width:100%;">
                                                                    <img src="~/Images/Status2.png" class="d-block w-100" alt="Img">
                                                                </div>
                                                            }
                                                            @if(item.OrderStatus.ToLower().Equals("order dispatched")){
                                                                <div class="row" style="width:100%;">
                                                                    <img src="~/Images/Status3.png" class="d-block w-100" alt="Img">
                                                                </div>
                                                            }
                                                            @if(item.OrderStatus.ToLower().Equals("delivered")){
                                                                <div class="row" style="width:100%;">
                                                                    <img src="~/Images/Status4.png" class="d-block w-100" alt="Img">
                                                                </div>
                                                            }
                                                            @* PartialView _AdminUserOrderViewModel *@
                                                            <div id="userorders-@item.CustOrderId">
                                        
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
    </script>
}