@using AceSmokeShop.ViewModel
@model EditUserViewModel

@{
    ViewData["Title"] = "Edit User";
    Layout = null;
}

<div class="modal fade" id="editUser" role="dialog" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserlbl">Edit User</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true" style="border:none; outline:none">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="EditUserAccount" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <input type="hidden" asp-for=@Model.UserEmail />
                    <div class="form-group">
                        <div class="row row-cols row-cols-lg g-3 g-lg-3">
                            <div class="col-md-12">
                                <label>User Role</label>
                                <select asp-for=@Model.UserRole id="userRoles" class="form-select"
                                        asp-items="@(new SelectList(@Model.UserRoleList))">
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Accounting</label>
                                <div class="toggleWrapper">
                                    <input type="hidden" asp-for="@Model.IsAccounting" value=@Model.IsAccounting id="AccountToggle"/>
                                    @if (@Model.IsAccounting)
                                    {
                                        <input type="checkbox" onchange="AccountingChange(false)" name="toggle1" class="mobileToggle" id="Accounting" checked>
                                    }
                                    else
                                    {
                                        <input type="checkbox"  onchange="AccountingChange(true)" name="toggle1" class="mobileToggle" id="Accounting">
                                    }
                                    <label for="Accounting"></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Block User</label>
                                <div class="toggleWrapper">
                                     <input type="hidden" asp-for=@Model.IsActive value=@Model.IsActive id="ActiveToggle"/>
                                    @if (@Model.IsActive)
                                    {
                                        <input type="checkbox" onchange="ActiveChange(false)" name="toggle1" class="mobileToggle" id="Active" checked>
                                        <label for="Active"></label>
                                    }
                                    else
                                    {
                                        <input type="checkbox" onchange="ActiveChange(true)" name="toggle1" class="mobileToggle" id="Active">
                                        <label for="Active"></label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

